.page {
    background-color: #2A2C2F;
    color: #fff;
    box-sizing: border-box;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    margin: 0 auto;
    padding: 0;
    max-width: 1280px;
    min-width: 320px;
}

@media screen and (max-width: 1280px) {
    .page {
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .page {
        max-width: 1024px;
    }
}

@media screen and (max-width: 768px) {
    .page {
        max-width: 768px;
    }
}

@media screen and (max-width: 320px) {
    .page {
        max-width: 320px;
    }
}



