.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, max-content));
    grid-template-rows: repeat(auto-fit, 1fr);
    margin: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 1280px) {
    .photo-grid {
        padding: 92px 0 0 0;
        gap: 16px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .photo-grid {
        padding: 92px 48px 0 48px;
        gap: 14px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .photo-grid {
        padding: 88px 24px 0 24px;
        gap: 16px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .photo-grid {
        padding: 64px 16px 0 16px;
        gap: 12px;
    }
}
