.places {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(min-content, max-content));
    margin: 0;
    box-sizing: border-box;
    row-gap: 80px;
}

@media screen and (min-width: 1280px) {
    .places {
        padding: 92px 100px 92px 100px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .places {
        padding: 92px 48px 92px 48px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .places {
        padding: 88px 24px 90px 24px;
        row-gap: 73px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .places {
        padding: 64px 0 66px 0;
        row-gap: 50px;
    }
}
