.cover__subtitle {
    line-height: 22px;
    font-size: 18px;
    font-weight: 400;
    padding: 0;
    text-align: center;
    max-width: 360px;
    margin: 32px auto 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        max-width: 288px;
        margin: 16px auto 0 auto;
    }
}
