.content {
    margin: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 1280px) {
    .content {
        padding: 0 48px;
    }
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .content {
        padding: 0;
    }
}
