.place__text {
    display: flex;
    flex-direction: column;
    grid-area: text;
    padding: 0;
    margin: 0;
    row-gap: 26px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .place__text {
        padding: 0 16px 0 16px;
    }
}
