.footer__link {
    line-height: 18px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer__link {
        font-size: 24px;
    }
}
