.lead__title {
    font-weight: 900;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .lead__title {
        max-width: 720px;
        font-size: 96px;
        line-height: 100px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
    }
}
