.footer__links {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap: 18px;
}

@media all and (min-width: 320px) and (max-width: 767px) {
    .footer__links {
        flex-direction: column;
        gap: 32px;
    }
}
