.place__paragraph {
    font-size: 18px;
    line-height: 29px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
    }
}
