.lead__image {
    padding: 0;
    width: 100%;
}

@media screen and (min-width: 1280px) {
    .lead__image {
        margin: 64px 0 0 0;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .lead__image {
        margin: 56px 0 0 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .lead__image {
        margin: 56px 0 0 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .lead__image {
        margin: 40px 0 0 0;
    }
}
