.intro {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
}


@media screen and (min-width: 1280px) {
    .intro {
        padding: 92px 442px 0 100px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .intro {
        padding: 92px 286px 0 48px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .intro {
        padding: 88px 24px 0 24px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .intro {
        padding: 64px 16px 0 16px;
    }
}
