.cover__title {
    text-align: center;
    padding: 0;
    max-width: 560px;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
}

@media all and (min-width: 1280px) {
    .cover__title {
        margin: 245px auto 0 auto;
    }
}

@media all and (min-width: 1024px) and (max-width: 1279px) {
    .cover__title {
        margin: 195px auto 0 auto;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    .cover__title {
        margin: 115px auto 0 auto;
    }
}

@media all and (min-width: 320px) and (max-width: 767px) {
    .cover__title {
        max-width: 240px;
        font-size: 32px;
        line-height: 35px;
        margin: 33px auto 0 auto;
    }
}
