.place {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, minmax(min-content, max-content));
    grid-template-areas:
        "title website"
        "image text";
    row-gap: 48px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 1280px) {
    .place {
        column-gap: 40px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .place {
        column-gap: 32px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place {
        column-gap: 28px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .place {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fit, minmax(min-content, max-content));
        grid-template-areas:
            "title"
            "website"
            "image"
            "text";
        gap: 32px;
    }
}
