.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    flex-direction: row;
    padding: 92px 48px 24px 48px;
}

@media all and (max-width: 768px) and (max-width: 1023px) {
    .footer {
        padding: 88px 24px 24px 24px;
    }
}

@media all and (min-width: 320px) and (max-width: 767px) {
    .footer {
        flex-direction: column;
        padding: 64px 0 24px 16px;
    }
}
