.place__website {
    display: grid;
    grid-area: website;
    align-content: end;
    row-gap: 12px;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .place__website {
        padding: 0 16px 0 16px;
    }
}
