.intro__title {
    font-weight: 900;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .intro__title {
        font-size: 54px;
        line-height: 58px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }
}
